<nav>
  <div class="max-width">
    <ul class="d-flex justify-between align-center">
      <li class="fc-logo d-flex align-center">
        <img src="./assets/logo.png" alt="FitCalculator logo" />
        F<span class="fc-logo-small hide-on-small">it</span>C<span
          class="fc-logo-small hide-on-small"
          >alculator</span
        >
      </li>
      <li>
        <a [routerLink]="['/bmr']" routerLinkActive="active">BMR</a>
        <a [routerLink]="['/bmi']" routerLinkActive="active">BMI</a>
      </li>
    </ul>
  </div>
</nav>
<svg id="visual" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 78.75">
  <defs>
    <style>
      .cls-1 {
        fill: #343260;
      }
    </style>
  </defs>
  <title>Waves header</title>
  <path
    class="cls-1"
    d="M960,512.58l-17.8,3.55c-17.9,3.55-53.5,10.66-89,6s-70.9-21-106.4-22.8-71.1,11-106.8,16.46-71.3,3.43-106.8-3-70.9-17.29-106.4-18.47-71.1,7.34-106.8,6.81-71.3-9.95-106.8-12.61S142.3,490.08,106.8,500s-71.1,25.46-89,33.22L0,541V462.25H960Z"
    transform="translate(0 -462.25)"
  />
</svg>
