<nav>
  <div class="max-width">
    <ul class="d-flex justify-between align-center">
      <li class="fc-logo d-flex align-center">
        <img src="./assets/logo.png" alt="FitCalculator logo" />
        F<span class="fc-logo-small hide-on-small">it</span>C<span
          class="fc-logo-small hide-on-small"
          >alculator</span
        >
      </li>
      <li>
        <a [routerLink]="['/bmr']" routerLinkActive="active">BMR</a>
        <a [routerLink]="['/bmi']" routerLinkActive="active">BMI</a>
      </li>
    </ul>
  </div>
</nav>
